.notificationCard{
    background-color: #161616 !important;
    margin: 20px auto;
    display: flex;
    width: 70%;
    padding: 10px 30px;
    color: white;
    border-radius: 8px;    
    cursor: pointer;
    .left{
        img{
            height: 75px;
            width: 75px;
            border-radius: 50%;
        }
    }
    .right{
        padding-left: 15px;
        // background-color: green;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .set1{
            display: flex;
            flex-direction: column;
            .level1{
                    .link{
                        text-decoration: none;
                        color: white;
                    }
            }
        }
        .set2{
            display: flex;
            justify-content: flex-end;
        }
    }

}
.notificationCard:hover{
    transform: scale(1.09);
    transition: 0.3s;
}
