.rowMovies {
  margin-left: 20px;
  color: #fff;
}
.posters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}
.posters::-webkit-scrollbar {
  display: none;
}

.posterDiv {
  transition: transform 0.5s ease-in-out;
}
.poster {
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.2);
  max-height: 250px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.posterDiv:hover {
  transform: scale(1.1);
}

.smallPoster {
  max-height: 100px;
}
