.rowMovies {
  margin-left: 20px;
  color: #fff;
}

.posters {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
  // overflow-y:hidden ;

  .movieDiv {
    h1 {
      position: absolute;
      // display: none;
      color: white;
      z-index: 99;
    }
  }
}

.posters::-webkit-scrollbar {
  display: none;
}

.poster {
  box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.2);
  max-height: 180px;
  z-index: 2;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.poster:hover {
  margin: 0 15px;
  filter: brightness(70%);
}

.smallPoster {
  max-height: 100px;
}
