.discoverPage{
    // background-color: green;
    min-height: 100vh;
    max-height: max-content;
    // background-color: black;
    .searchBar{
        margin: auto;
        width: 75%;
        padding: 20px 20px;
        font-size: larger;
    }

}