.movieRowMain {
  // background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movieRow {
  cursor: pointer;
  // background-color: white;
  background-color: rgba(19, 19, 19, 0.5);
  color: white;
  display: flex;
  overflow: hidden;
  width: 75%;
  img {
    height: 70px;
  }
}

.movieRow:hover {
  transform: scale(1.09);
  transition: 0.3s;
}

.font-weight-bold {
  // background-color: red;
  font-weight: bold;
  font-size: 20px;
}
